---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Snippets">
  <Nav />
  <section class="flex-center position-ref full-height" id="coming-soon
">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="section-title">Coming Soon</h2>
            <p class="section-sub-title">
              We are working on it. Please check back later.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
