<footer class="p-4 rounded-lg shadow md:px-6 md:py-8">
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >© {new Date().getFullYear()}
    <a
      href="https://www.twitter.com/deraowl"
      class="hover:underline bg-gradient-to-r from-indigo-300 to-purple-400 text-transparent bg-clip-text"
      >DeRaowl</a
    >. Built using Astro & Tailwind CSS
  </span>
</footer>
